body{
    background-image: url("back.jpg");
    background-size: cover;
}
.header{
    border: 2px solid #007BFF;
    padding: 20px;
    width: 320px;
    border-radius: 10px;
    text-align: center;
    background-color: lightcyan;
    font-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
}
h2{
    color: white;
     padding-left: 30px;
     font-size: 50px;
     height: 30px;
}
p{
    font-size: 30px;
    color: skyblue;
    padding-left :50px;
}
.intro-buttons{
    padding: 50px;
    cursor: zoom-in;
    background-color: lightgrey;
    box-shadow: 2px 1px rgb(118, 118, 160);
    transition: 0.3s;
    font-size: 20px;
    text-shadow: #007BFF;
    font-family:Helvetica;
    border-radius: 100px;
}
button{
    padding: 10px;
    cursor: grabbing;
    background-color: greenyellow;
    box-shadow: 2px 1px rgb(118, 118, 160);
    transition: 0.3s;
    border-radius: 100%;
}
.content{
    border:2px solid #007BFF;
    width: 250px;
    background-color: antiquewhite;
    color: black;
     border-radius: 10px;
    text-align: center;
}